
// .mat-tooltip {
//   color: #fff !important;
// }
// Edit and Delete button text color on hover
a[mat-button]:hover,
button[mat-button]:hover {
  color: #00bfa5 !important;
}

a[mat-button][color="warn"]:hover,
button[mat-button][color="warn"]:hover {
  color: #ff5252 !important;
}